@use "../../scss/variables" as *;
@use "../../scss/" as *;



.hero-slide {
    margin-bottom: 3rem;
}

.hero-slide__item {
    padding: 9rem 0;
    width: 100%;
    height: 80vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include tablet{
        height: 50vh;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include overlay();
    }

  

    &__content {
        @include flex(center, space-between);
        position: relative;

        &__info {
            width: 55%;
            padding: 0 3rem;
            position: relative;

            @include tablet {
                width: 100%;
            }

            & > * ~ * {
                margin-top: 3rem;
            }

            .title {
                font-size: 72px;
                font-weight: 700;
                line-height: 94px;
                text-align: left;
                color: white;
                

                @include tablet {
                    font-size: 72px;
                    text-align:center;
                    line-height: 94px;
                    font-weight: 700;
                }
                @include mobile {
                    font-size: 3rem;
                    font-weight: 700;
                    text-align:center;
                    line-height: 50.46px;
                    
                }
            }

            

           
        }

       
    }

}